HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/com/kutay/MANPORT/ws/domain/BackendImplement.java
src/main/java/com/kutay/MANPORT/ws/domain/BackendInterface.java
src/main/java/com/kutay/MANPORT/ws/domain/DatabaseImplement.java
src/main/java/com/kutay/MANPORT/ws/domain/DatabaseInterface.java
src/main/java/com/kutay/MANPORT/ws/domain/FrontendImplement.java
src/main/java/com/kutay/MANPORT/ws/domain/FrontendInterface.java
src/main/java/com/kutay/MANPORT/ws/repository/FrontendImplementRepository.java
src/main/java/com/kutay/MANPORT/ws/repository/FrontendInterfaceRepository.java
src/main/java/com/kutay/MANPORT/ws/repository/FrontendTypeRepository.java
MANPORTAppDBDIAGRAM.png
src/main/java/com/kutay/MANPORT/ws/service/IApplicationServerService.java
src/main/java/com/kutay/MANPORT/ws/service/Impl/ApplicationServerServiceImpl.java
